<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-1" >
    <div class="col-12 col-lg-6">
        <img src="/img/blquatro.png" alt="" style="margin-left: 78%; width: 200px; top: 60px;">
        <img src="/img/andreia.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cookin with nodejs" style="border-radius: 1000px; width: 500px;">
        <img src="/img/arvum.png" alt="" srcset="" style=" z-index: 1; margin-left: 75.2%; height: 465px; width: 220px; ">
    </div>

    <div class="col-12 col-lg-6" >
        <h1 class="display-5 fw-bold mb-3" style="color: rgb(255, 255, 255); ">Andréia Neves de Sá</h1>
        <p class="lead" style="margin-top: 30px;">
            Me chamo Andréia Neves de Sá, e sou graduada em Pedagogia, com especialização em gestão de pessoas, Psicopedagogia Clínica e Institucional,  Neuropsicologia e Análise Comportamental aplicada - Método ABA. <br><br>

            Durante o processo de formação acadêmica,  sempre interessei em entender como o cérebro funciona e a forma que  afeta a aprendizagem e o desenvolvimento humano. <br><br>
            
            Por isso, dediquei estudar Psicopedagogia e Neuropsicologia para aprimorar meus conhecimentos sobre o tema e poder ajudar pessoas que enfrentam dificuldades em  seu processo de aprendizagem. Durante minha formação, aprimorei em estudos sobre o impacto das disfunções neurológicas no desenvolvimento cognitivo e no comportamento humano. <br><br>
            
            Hoje, aplico os meus conhecimentos clínico em atendimentos individualizado, especializada em estudos do desenvolvimento humano, com atendimento a crianças, que enfrentam dificuldades de aprendizagem. Meu atendimento psicopedagógico consiste em realizar diagnósticos precoces de disfunções neurológicas e desenvolver programas de intervenção personalizados para cada paciente, levando em conta suas necessidades e particularidades individuais. <br><br>
            
            Utilizo técnicas como a neuropsicologia, que investiga a relação entre o cérebro e o comportamento humano, e a psicopedagogia, que busca entender os processos de aprendizagem, para desenvolver programas efetivos, tecnologia assistiva educativa aplicada a aprendizagem , e nesse contexto o paciente possa alcançar seu potencial em um processo de aprendizagem satisfatório e saudável. <br><br>
            
            Fora do trabalho, sou apaixonada por estudar e me atualizar constantemente sobre as últimas pesquisas e avanços na área de psicopedagogia e neuropsicologia. Acredito que é fundamental estar sempre em constante aprendizado para poder oferecer aos meus pacientes os melhores tratamentos e soluções disponíveis. <br><br>
            
            Meu objetivo é continuar ajudando as pessoas a superarem suas dificuldades de aprendizagem e desenvolvimento neurológico, e contribuir para a melhoria da qualidade de vida de cada um dos meus pacientes. <br><br>
        </p>
        
    </div>
   
        
    
</div>